<section class="container">
  <h2>Last Nft Aquired :</h2>
  <div class="row glassBg p-5">
    <div *ngFor="let nft of latestNfts" class="col-6 col-lg-3">
      <app-nft-card [nft]="nft"></app-nft-card>
    </div>
  </div>
  <div>
    <a routerLink="galery" class="d-flex align-items-center justify-content-end"
      >See all <i class="bi bi-arrow-right px-3"></i
    ></a>
  </div>
</section>

<section class="container" id="profil">
  <h2>My profile</h2>
  <div class="row glassBg p-5">
    <div class="col-10 offset-1 col-md-4 offset-md-0 p-5">
      <img src="../../../../assets/images/profil-picture.png" alt="" />
    </div>
    <div class="col-10 offset-1 col-md-4 offset-md-0 p-5" id="profilCard">
      <h2>{{ user.username! }}</h2>
      <p>email : {{ user.email }}</p>
      <p>firstname : {{ user.firstname }}</p>
      <p>lastname : {{ user.lastname }}</p>
      <p>birthday : {{ user.birthday | date }}</p>
    </div>
    <div
      class="col-10 offset-1 col-md-4 offset-md-0 d-flex align-items-center justify-content-center"
    >
      <a routerLink="profil" class="btn btn-main">Edit profil</a>
    </div>
  </div>
</section>
