#profil img {
  width: 80%;
  margin: auto;
  display: block;
  max-width: 200px;
}

#profilCard {
  width: fit-content;
  margin: auto;
}

.image-icon{
  font-size: 50px;
}
.carrousel{
  overflow-x: scroll;
  width: 100%;
}