<section id="produit" class="container">
  <div
    class="d-flex justify-content-center gap-5 flex-column flex-md-row align-items-center"
    *ngIf="nftModel && nftCollection"
  >
    <div id="imageProduitContainer" class="">
      <img
        *ngIf="nftModel.nftImages; else placeholder"
        [src]="nftModel.nftImages[0].path"
        alt=""
        class=""
      /><ng-template #placeholder>
        <img src="../../../assets/images/placeholder.png" alt="" />
      </ng-template>
    </div>

    <article
      class="ProduitDetail d-flex flex-column align-items-md-start align-items-start justify-content-between gap-2"
    >
      <h3>{{ nftModel.name }}</h3>
      <p>{{ nftModel.description }}</p>
      <div class="d-flex align-items-center gap-3">
        <img [src]="nftCollection.path" id="profilPicture" alt="" />
        <p>
          Collection
          <span class="violet"
            ><a [routerLink]="['/nftCollection/', nftModel.id]">{{
              nftCollection.name
            }}</a></span
          >
        </p>
      </div>
      <p id="price" >
        Price : 
        <span class="blue text price">{{ nftModel.initialPrice }}</span> ETH
        <img
          class="logoEth"
          src="../../../assets/images/eth-diamond-black.svg"
          alt=""
        />
      </p>
      <p >
        Quantiy available : <span class="blue text price">{{ nftModel.quantity }}</span>
      </p>
      <div class="d-flex gap-3 justify-content-between">
        <a href="" class="btn btn-main">Connect your wallet</a
        ><a href="" class="btn btn-alt">Save in whislist</a>
      </div>
    </article>
  </div>
</section>

<section class="container">
  <app-graph *ngIf="chartData" class="graph" [chartData]="chartData"></app-graph>
</section>
<section *ngIf="nfts" class="container">
  <h2>List of owners</h2>
  <mat-accordion multi >
    <mat-expansion-panel
      *ngFor="let nft of nfts"
      class="my-3 p-3"
      [expanded]="true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><div class="d-flex align-items-center gap-2">
            <img
              [src]="getUser(nft)?.userImage.path"
              id="profilPicture"
              alt=""
            />
            <p>
              Owner <span>{{ getUser(nft)?.username }}</span>
            </p>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <span>NFT id #{{ nft.id }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p>
          token : <span>{{ nft.token }}</span>
        </p>
        <p>Date purchase: {{ nft.purchaseDate | date }}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
