<nav class="navDesktop">
  <i (click)="displayMenuMobile()" class="bi bi-list"></i>
  <a href="index.html"
    ><img class="logo" src="../../../assets/images/logo_transparent.png" alt=""
  /></a>
  <ul class="violet">
    <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="/product" routerLinkActive="active-link">Product</a></li>
    <li><a routerLink="/galery" routerLinkActive="active-link">Galery</a></li>
  </ul>
  <app-login-button></app-login-button>
</nav>
