<div>
  <div class="row row-gap-1">
    <div
      *ngFor="let nftModel of nftModels"
      id="nft"
      class="col-10 offset-1 offset-md-0 col-md-6 col-lg-4 col-xl-3"
    >
      <app-model-card [nftModel]="nftModel"></app-model-card>
    </div>
  </div>
  <mat-paginator
    [length]="max"
    [pageSize]="itemsPerPage"
    [pageIndex]="currentIndex"
    [pageSizeOptions]="[10, 20, 40, 100]"
    [showFirstLastButtons]="true"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</div>
