<section id="produit" class="container">
  <div
    class="d-flex justify-content-center gap-5 flex-column flex-md-row align-items-center"
  >
    <div id="imageProduitContainer" class="">
      <img src="img/chest1.png" alt="" class="" />
    </div>

    <article
      class="ProduitDetail d-flex flex-column align-items-md-start align-items-start justify-content-between gap-2"
    >
      <h3>Name NFT</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        excepturi perspiciatis, natus nam id eius consectetur amet totam modi.
      </p>
      <div class="d-flex align-items-center gap-3">
        <img src="img/profil-picture.png" alt="" />
        <p>Owner <span>Name</span></p>
      </div>
      <p id="price" class="blue text price">
        <span>1.33</span> ETH
        <i class="fa-brands fa-ethereum fa-2x"></i>
      </p>
      <div class="d-flex gap-3 justify-content-between">
        <a href="" class="btn btn-main">Connect your wallet</a
        ><a href="" class="btn btn-alt">Save in whislist</a>
      </div>
    </article>
  </div>
</section>