<section class="container">
  <div class="carroussel">
    <app-collection-card
      *ngFor="let dataCollection of dataCollections"
      [nftColection]="dataCollection.nftCollection"
      [active]="dataCollection.active"
      (click)="handleClick(dataCollection.nftCollection)"
    ></app-collection-card>
  </div>
</section>
<section class="container">
  <div
    *ngFor="let dataCollection of dataCollections; index as i"
  >
    <div
      class="d-flex flex-column text-center text-md-start justify-content-between flex-md-row align-items-center my-5"
      [ngClass]="{ 'flex-md-row-reverse': i % 2 == 1 }"
    >
      <!-- image Collection -->
      <img
        [src]="dataCollection.nftCollection.path"
        class="col-10 offset-1 offset-md-0 col-md-4 my-4"
      />
      <!-- div list step - description NFT -->
      <article class="col-12  col-md-7">
        <h3>{{ dataCollection.nftCollection.name }}</h3>
        <p>{{ dataCollection.nftCollection.description }}</p>
        <a href="" class="btn btn-main">Voir la collection</a>
      </article>
    </div>
  </div>
</section>
