#SideBarAccount {
  padding: 20px;
  max-width: 300px;
  height: calc(100%-100px);
  /* height: 100%; */
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.SideBarContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}

mat-sidenav-container {
  width: 100%;
  background: inherit;
  position: relative;
}
/* mat-sidenav-content {

} */
mat-sidenav-content #sidePannelButton {
  text-align: end;
}
mat-sidenav-content #sidePannelButton span {
  cursor: pointer;
}
mat-sidenav-content #sidePannelButton button {
  background-color: inherit;
  border: none;
}

mat-slider {
  width: 100%;
}

.label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  width: 100%;
}
.label-container input {
  width: 50px;
  text-align: center;
}

.mat-mdc-checkbox {
  margin-right: 20px;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
