<div class="content">
  <div class="nftImgContainer">
    <a [routerLink]="['/item/', nft.id]">
      <img
        *ngIf="image"
        [src]="image.path"
        alt="image equilibrium"
        class="nftImg"
      />
      <div class="overlay">
        <img
          class="view"
          src="../../../../assets/images/icon-view.svg"
          alt=""
        />
      </div>
    </a>
  </div>
  <main>
    <h3>
      <a [routerLink]="['/item/', nft.id]" class="d-flex flex-column"
        ><span>{{ nftModel.name }}</span> <span>#{{ nft.id }}</span></a
      >
    </h3>
    <p>
      {{ nftModel.description! | truncate : 90 }}
    </p>
    <div
      class="data d-flex flex-column flex-lg-row flex-wrap py-3 justify-content-between"
    >
      <span id="icon-eth" class="icon"> {{ nft.sellingPrice }} ETH</span>
      <span id="icon-time" class="icon">{{ nft.inSale | inSale }}</span>
    </div>
  </main>
  <footer>
    <img [src]="user.userImage.path" alt="image profil" />
    <p>
      Owner <a href="" class="creator">{{ user.username }} </a>
    </p>
  </footer>
</div>
