<section id="produit" class="container">
  <div
    class="d-flex justify-content-center gap-5 flex-column flex-md-row align-items-center"
    *ngIf="nft"
  >
    <div id="imageProduitContainer" class="">
      <img
        *ngIf="nft.nftModel.nftImages; else placeholder"
        [src]="nft.nftModel.nftImages[0].path"
        alt=""
        class=""
      /><ng-template #placeholder>
        <img src="../../../assets/images/placeholder.png" alt="" />
      </ng-template>
    </div>

    <article
      class="ProduitDetail d-flex flex-column align-items-md-start align-items-start justify-content-between gap-2"
    >
      <h3>{{ nft.nftModel.name }} #{{ nft.id }}</h3>
      <p>{{ nft.nftModel.description }}</p>

      <div>
        <p id="price" class="blue text price">
          <img
            class="logoEth"
            src="../../../assets/images/eth-diamond-black.svg"
            alt=""
          />
          <span>{{ nft.sellingPrice }}</span> ETH
        </p>
        <p id="price" class="blue text price">
          <i class="bi bi-clock"></i>
          <span>{{ nft.inSale | inSale }}</span>
        </p>
        <p id="price" class="blue text price">
          <i class="bi bi-calendar"></i>
          <span>{{ nft.purchaseDate | date }}</span>
        </p>
      </div>
      <div class="d-flex gap-3 justify-content-between">
        <button (click)="openNftDialog()" class="btn btn-main">Modify</button>
      </div>
    </article>
  </div>
</section>
